/*colors
primary
dark blue - #002856
bright green - #00F2A5
lightest bright green - #CCFCED
med bright green - #C1F1E3
darker bright green - #B0E0D1
secondary
light blue - #21E2F5
yellow - #FFED1A
base
med blue - #3D5D77
light med blue - #708EAC
light grey - #EDEDEE
extra color
orange - #FF7A00*/


* {
	margin: 0px;
	padding: 0px;
}

html {
}

body {
	padding: 5em;
	font-family: "proxima-nova", Helvetica, Arial, sans-serif;
	line-height: 1.7;
	color: #0A0532;
}

.comments {
	color: #4C4C4C;
	margin-bottom: 2em;
	border-bottom: 1px solid #4C4C4C;
}

.comments p, .comments h2, .comments ul{
	margin-bottom: 1em;
}

.comments .nospace {
	margin-bottom: 0;
}

.comments ul {
	margin-left: 3em;
}

h3 {
	font-family: Arial, Georgia, sans-serif;
	font-weight: 400;
	line-height: 1.1;
	font-size: 1.5rem;
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}

.download-modal-link {
	float: right;
	position: relative;
	bottom: 1rem;
}

.btn {
	font-size: 1em;
	text-align: center;
	padding: 0.7em 1.25em;
	line-height: 1.2;
	display: inline-block;
	background-color: #002856;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	vertical-align: middle;
	text-decoration: none;
}

.view-content {

}

.table-responsive {
	font-size: .75em;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 17.25px;
	border: 1px solid #ccc;
	/*overflow-x: auto;*/
	/*min-height: 101%;*/
	/*max-height: 600px;*/
	/*overflow-x: scroll;	*/
}

.views-table {

}

.cols-9 {

}

.table {
	/*margin-bottom: 0;*/
	width: 100%;
	/*max-width: 100%;*/
	/*background: white;*/
	border-collapse: collapse;
	/*border-spacing: 0;*/
	/*display: table;*/
}

.table-striped {

}

.table-bordered {
	/*border: 0;*/
}

table {
	display: table;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

thead tr {
	/*position: absolute;*/
}

.table-responsive > .table > thead > tr > th {
	white-space: nowrap;
	vertical-align: bottom;
}

th {
	padding: 8px;
	/*line-height: 1.7;*/
	background-color: #BCBEC0;
	border-width: 0px 2px 2px 2px;
	border-color: white; 
	border-style: solid;
	font-weight: bold;	
	text-align: left;
}

.active {
	padding: 0px;
	/*transition: color .5s;*/
	color: #002856;
	text-decoration: underline;
	/*background-color: transparent;*/
}

.active:hover {
	color: #00A973;
}

.active:active {
	color: #002856;
}

img {
	margin: 0px 5px;
	vertical-align: middle;
}

tbody {
	/*background-color: #ddd;*/
	border: 0;
}

tbody > tr > td:first-child {
	border-left: 0px solid white;
	/*box-shadow: inset 5px 0px 3px 0px #ddd;*/
}

tr > th:first-child {
	border-left: 0px solid white;
	/*box-shadow: inset 5px 0px 3px 0px #ddd;*/
}

tbody > tr:last-child > td {
	border-bottom: 0px;
}

tbody > tr > td:last-child {
	border-right: 0px solid white;
	/*box-shadow: inset 5px 0px 3px 0px #ddd;*/
}

tr > th:last-child {
	border-right: 0px solid white;
}

tbody tr:nth-child(odd) {
	background-color: #EBEEF1;
	/*used to be #f7f7f7*/
	/*D8DEE3 darker tint*/
	/*EBEEF1 lighter tint*/
}

tbody tr:nth-child(even) {
}

tr:active, tr:nth-child(odd):active {
	background-color: #21E2F5;
}

td.active, th.active {
	padding: 8px 8px;
	/*background-color: #708EAC;*/
}

/*#todo need to make the hover more specific
than the active*/

td {
	white-space: nowrap;
	padding: 8px 8px;
	border: 2px solid white;
}

.dollar {
	text-align: right;
	font-variant-numeric: tabular-nums;
}

/*Making the active column look like its a transparent overlay*/
th.active {
	background-color: #B0E0D1;
}
 
tr:nth-child(odd) td.active {
	background-color: #C1F1E3;
}

tr:nth-child(even) td.active {
	background-color: #CCFCED;
}

tr:hover, tr:nth-child(odd):hover {
	background-color: #B2F5FC;
}

tr:hover td.active {
	background-color: #B2F5FC;
}


/*lightest bright green - #CCFCED*/
/*med bright green - #C1F1E3*/
/*darker bright green - #B0E0D1*/


/*.scrollbar-container {
	width: 100%;
	min-height: 30px;
	background-color: lime;
}*/

/*.dragger {
	background-color: #ddd;
	min-height: 30px;
}*/

::-webkit-scrollbar {
	-webkit-appearance: none;
	height: 12px;
	width: 0px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	border: 2px solid white;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

footer {
	height: 300px;
}

/*#todo fixed header for tall tables -- this will need to be done in javascript or something*/
/*#todo make the scroll bar always visible -- cant keep it always in view for tall tables with just css*/

